.red { background-color: #f44a56; }
.red::selection { background-color: #f44a56;}

.blue { background-color: #268BD2; }
.blue::selection { background-color: #268BD2; }

.green { background-color: #42ba5d; }
.green::selection { background-color: #42ba5d; }

.orange { background-color: #fc9a5f; }
.orange::selection { background-color: #fc9a5f; }

.yellow { background-color: #F1E576; }
.yellow::selection { background-color: #FFCC00; }

.gray { background-color: #eceef1; }
.gray::selection { background-color: #eceef1;}

.purple { background-color: #795aac; }
.purple::selection { background-color: #795aac; }

.dark-gray { background-color: #333; }
.dark-gray::selection { background-color: #333333; }