body {
	background-color: #ECEEF1;
}

div.container {
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
	padding: 15px;
}

div.navigation {
	background-color: #111;
	color: white;
	height: 60px;
}

.brand {
	font-weight: 700;
	color: white;
	text-transform: lowercase;
	font-family: "proxima-nova";
	font-size: 25px;
	line-height: 60px;
	padding-left: 10px;
	display: inline;
	float: left;
}

div.navigation ul {
	display: inline;
	list-style: none;
}

div.navigation ul li {
	float: left;
	list-style: none;
	font-weight: 600;
	padding: 20px 10px 20px 10px;
}

div.navigation ul li a {
	color: #fff;
	padding: 22px 20px 22px 20px;
		-webkit-transition: background 300ms ease;
			-moz-transition: background 300ms ease;
					transition: background 300ms ease;
}

div.navigation ul li a:hover {
	background-color: #f44a56;
	text-decoration: none;
}

div.navigation ul li:nth-child(1) a:hover {
	background-color: #f44a56;
}

div.navigation ul li:nth-child(2) a:hover {
	background-color: #268bd2;
}

div.navigation ul li:nth-child(3) a:hover {
	background-color: #2bcda9;
}

div.navigation ul li:nth-child(4) a:hover {
	background-color: #fa4b00;
}

div.navigation ul li:nth-child(5) a:hover {
	background-color: #ffcc00;
}

div.jumbotron {
	height: 400px;
	width: 990px;
	margin: 20px auto 0px auto;
	background-color: #f44a56;
	text-align: center;
	color: #fff;
}

div.jumbotron h1 {
	color: #fff;
	font-size: 50px;
	padding-top: 10px;
}

@font-face{
	font-family:Batch;
	src:url('../fonts/batch.eot');
	src:url('../fonts/batch.eot?#iefix') format('embedded-opentype'),
	url('../fonts/batch.woff') format('woff'),
	url('../fonts/batch.ttf') format('truetype'),
	url('../fonts/batch.svg#batchregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

.batch {
	font-family:"Batch";
	margin-top: 75px;
	font-size:115px;
	line-height:1;
	display:inline-block;
}

.squarecontainer {
	margin-right: auto;
	margin-left: auto;
	width: 940px;
}
