body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4d90fe;
  text-decoration: none;
}

a:hover {
  color: #0161fd;
  text-decoration: underline;
}

a:active {
  color: #dd4b39;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}